@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: smooth;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-color: #00658C;
  --text-color: #fff;
  --gold-color: #dcc577;
  --gray-color: #D3D3D3;
  --primary-color: #1c3744;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--gray-color);
  color: var(--gold-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
 font-size: 2.5rem;
 color: var(--gold-color);
 font-weight: 600; 
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .5s;
  border-bottom: 2px solid var(--gold-color);
}

.navbar a:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url(/photos/2nova.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content {
  max-width: 60rem;
}

.home-content h2 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content .text-animate {
  position: relative;
  width: 62.8rem;
}

.home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .7px var(--main-color);
}

.home-content p {
  font-size: 2rem;
  margin: 2rem 0 4rem;
  color: var(--text-color);
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--primary-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--text-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box .btn::nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn::nth-child(2):hover {
  color: var(--primary-color);
}

.btn-box .btn::nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 9rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--gray-color);
  border-left: .2rem solid var(--gray-color);
  border-right: .2rem solid var(--gold-color);
  border-bottom: .2rem solid var(--gold-color);
}

.about-content {
  text-align: center;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box .btns {
  display: inline-block;
  width: 15rem;
}

.btn-box .btns a::before {
  background: var(--main-color);
}


